# Virtual environment
venv/
env/
*.venv/
*.env/

# Compiled Python files
*.pyc
__pycache__/

# Logs and databases
*.log
*.sql
*.sqlite

# Temp files
*.bak
*.swp
*~

# IDE configs
.vscode/
.idea/

# Dependency directories
/node_modules/
/bower_components/

# macOS metadata
.DS_Store

*.pt
*.pth
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg

# Windows metadata
Thumbs.db